{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-10 col-offset-5q">
        <div class="ct-chart ct-perfect-fourth"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/chartist/dist/chartist.min.js') }}"></script>
    <script>
        var data = {
            labels: {{ label|json_encode|raw }},
            series: {{ values|json_encode|raw }}
        };

        var options = {
            width: 800,
            height: 400
        };

        new Chartist.Line('.ct-chart', data, options);
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/chartist/dist/chartist.min.css') }}">
{% endblock %}
