{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="page-header col-md-4 col-md-offset-4 text-center" id="banner">
            <div class="logo"></div>
            <h1>Badger</h1>
            <em>It looking for you!</em>
        </div>
    </div>
{% endblock %}
