{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="page-header col-lg-6 col-md-offset-3 text-center" id="banner">
            <div class="logo center-block"></div>
            <h1>Badger</h1>
                <div class="bs-component">
                    <blockquote>
                        <p>Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.</p>
                        <small>John Woods <cite title="Source Title"><a href="https://groups.google.com/forum/#!msg/comp.lang.c++/rYCO5yn4lXw/oITtSkZOtoUJ">Usage of comma operator</a></cite></small>
                    </blockquote>
                    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
            </div>
        </div>
    </div>
{% endblock %}
